body{
    margin:0;
    width:100vw;
    background-color: grey;
    
    
}



.headerimg{
    width:25vmax;
    height:25vmin;
    display:inline-block;
}
.welcome{
    text-align:center;
    width:calc(100vmin - 26vmax);
    font-size:10vmin;
    text-shadow:5px 5px 8px black;
    color:hsl(0 0% 0%);
    position:absolute;
    
   
    
    
    
    
}

header{
    display:flex;
    align-items:center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size:cover;
    height:40vmin;
    width:100%;
    position:relative;
    
}

.bgimg{
    width:100%;
    height:100%;
}
/* aqui se le da valores de alto y ancho a la etiqueta picture y a la imagen para que la propiedad object fit pueda funcionar */
.bgimg__bg{
    width:100%;
    height:100%;
    opacity:.4;
    object-fit:cover;
}
.redes{
    font-size:7vmin;
    color:black;
    position:absolute;
    left:0;
    bottom:0;
    
    
}


.menu__ul-li a{
    padding-left:5px;
    font-size:.1px;
    text-decoration: none;
    color:white;
    transition:all .3s;
    display:inline-block;

    
}

.menu__ul-li:hover >a{
    font-size:initial;
    color:rgb(200 200 200);
}
.menu__ul-li:hover{
    color:rgb(200 200 200);

}
.menu{
    position:sticky;
    top:0;
    z-index:100;
    background-color: red;
    height:5vmin;
    width:100vw;
    height:50px;
    min-height:50px;
    max-height:50px;
    display: flex;
    box-sizing:border-box;
    align-items:center;
    
}


.menu__ul-li{
    display:inline-block;
    font-size:20px;
    box-sizing:border-box;
    margin-left:10px;
    position:absolute;
    color:white;
    
    
    
}


[class*="facebook"]{
    left:6rem;
    font-size:20px;
    bottom:15px;
    
    
    
    
}

[class*="google"]{
    bottom:15px;
    left:1px;
}

.google2{
    left:12rem;

}
.facebook2{
    left:18rem;
}
.facebook3{
    left:30rem;
}
.google3{
    left:24rem;
}


[class*="bars"]{
    visibility: hidden;
    font-size:20px;
}

.creditos{
    visibility: hidden;
}

@media screen and (max-width:550px){
    body{
        height:100%;
    }
  .menu{
      position:fixed;
      top:0;
      margin-left:-80vw;
      width:100vw;
      transition: margin-left .8s , padding-bottom 2s;

  }

    .menu__ul-li{
        position:static;
        margin-top:20px;
    }

    .menu__ul-li a {
        font-size:initial;
    }
   
    .menu:hover>.menu__ul{
        margin-left:0vw;
    
    }
    .menu__ul{
        display:flex;
        flex-direction:column;
        position:absolute;
        top:34px;
        background-color: #000;
        width:65%;
        height:calc(100vh - 34px);
        margin-left:-60vw;
        transition:all 1s;
        opacity:.9;
    
        
    }

    .menu:hover{
        margin-left:0;
        transition: margin-left 1s;
    }
    [class*="bars"]{
        visibility: visible;
        position:absolute;
        right:1.3em;
        top:1rem;
        transition:all 1s;

    }


    .menu:hover >[class*="bars"]{
        transform:rotate(180deg);
        
    }

    .creditos{
        visibility: visible;
        position:absolute;
        bottom:20px;
        display:block;
        width:80vw;
        font-size:20px;
        font-family:Arial, Helvetica, sans-serif;
        transition: all 1s;
        color:white;
        
        
    }

    



}
